<mat-sidenav-container fxFill>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z2">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span><strong>Hello World!</strong></span>
        <div>
          <a mat-icon-button aria-label="GitHub" target="_blank" href="https://github.com/envm92/hello_Mimi">
            <fa-icon class="menu-icon" [icon]="icons.gitHub"></fa-icon>
          </a>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <fa-icon class="menu-icon" [icon]="icons.language"></fa-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a mat-menu-item href="/en/index.html">English</a>
            <a mat-menu-item href="/es/index.html">Spanish</a>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div fxFill fxLayout="column" fxLayout.gt-md="row">
      <div fxFlex.gt-md="20">
        <app-data-sheet></app-data-sheet>
      </div>
      <div fxFlex fxLayout="column">
        <app-section *ngFor="let section of sections" [section]="section"></app-section>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

