<mat-list>
  <div mat-subheader i18n="@@personalDataSubheader">Personal data</div>
  <mat-list-item>
    <fa-icon matListIcon [icon]="icons.smile"></fa-icon>
    <div mat-line i18n="@@nameLabel">Name</div>
    <div mat-line> Erika Valdes</div>
  </mat-list-item>
  <mat-list-item>
    <fa-icon matListIcon [icon]="icons.americas"></fa-icon>
    <div mat-line i18n="@@locationLabel">Location</div>
    <div mat-line i18n="@@locationValue"> Mexico City, Mexico</div>
  </mat-list-item>
  <mat-list-item>
    <fa-icon matListIcon [icon]="icons.language"></fa-icon>
    <div mat-line i18n="@@languagesLabel">Languages</div>
    <div mat-line i18n="@@languagesValue"> Spanish, English</div>
  </mat-list-item>
  <mat-list-item>
    <fa-icon matListIcon [icon]="icons.start"></fa-icon>
    <div mat-line i18n="@@experienceLabel">Experience</div>
    <div mat-line i18n="@@experienceValue"> 5 years</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader i18n="@@educationSubheader">Education</div>
  <mat-list-item>
    <fa-icon matListIcon [icon]="icons.university"></fa-icon>
    <div mat-line i18n="@@educationLabel">UPEMOR, Morelos Mexico</div>
    <div mat-line i18n="@@educationValue"> Bachelor's Degree in CS</div>
  </mat-list-item>
</mat-list>
