<div fxFill class="container">
  <h1>Hello World!</h1>
  <mat-list>
    <div mat-subheader>Personal data</div>
    <mat-list-item>
      <fa-icon matListIcon [icon]="icons.smile"></fa-icon>
      <div mat-line>Name</div>
      <div mat-line> Erika Valdes</div>
    </mat-list-item>
    <mat-list-item>
      <fa-icon matListIcon [icon]="icons.americas"></fa-icon>
      <div mat-line>Location</div>
      <div mat-line> Mexico City, Mexico</div>
    </mat-list-item>
    <mat-list-item>
      <fa-icon matListIcon [icon]="icons.language"></fa-icon>
      <div mat-line>Languages</div>
      <div mat-line> Spanish, English</div>
    </mat-list-item>
    <mat-list-item>
      <fa-icon matListIcon [icon]="icons.start"></fa-icon>
      <div mat-line>Expirience</div>
      <div mat-line> 5 years</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Education</div>
    <mat-list-item>
      <fa-icon matListIcon [icon]="icons.university"></fa-icon>
      <div mat-line>UPEMOR, Morelos Mexico</div>
      <div mat-line> Barchelo's Computer Science</div>
    </mat-list-item>
  </mat-list>
</div>
