@import '~@angular/material/theming';
$hello-mimi-typography: mat-typography-config(
  $font-family: 'Jura'
);
@include mat-core($hello-mimi-typography);
$hello-mimi-primary: mat-palette($mat-pink);
$hello-mimi-accent: mat-palette($mat-yellow, A200, A100, A400);
$hello-mimi-warn: mat-palette($mat-orange);
$hello-mimi-theme: mat-dark-theme($hello-mimi-primary, $hello-mimi-accent, $hello-mimi-warn);
@include angular-material-theme($hello-mimi-theme);
html, body { height: 100%; }
body { margin: 0; font-family: 'Jura', sans-serif; }

.header-section {
  font-size: 20px;
}

.container {
  padding: 20px;
}
